/* MAIN CONTAINER */
.login-container {
  width: 100%;
  min-height: 100vh;
  background: #ECEFF1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;

}

/* BOX */
.login-box {
  width: 900px;
  background: #fff;
  display: flex;
  border-radius: 12px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  
}

/* LEFT IMAGE */
.login-image img {
  width: 400px;
  height: 100%;
  object-fit: cover;
}

/* RIGHT SIDE */
.login-form {
  flex: 1;
  padding: 50px;
}

.login-form h2 {
  font-size: 32px;
  color: #1A237E;
  margin-bottom: 10px;
}

.login-form p {
  color: #455A64;
  margin-bottom: 25px;
}

/* INPUTS */
.login-form input {
  width: 100%;
  padding: 14px;
  margin-bottom: 18px;
  border: 1px solid #B0BEC5;
  border-radius: 6px;
  font-size: 15px;
  outline: none;
  transition: all 0.3s ease;
}

.login-form input:focus {
  border-color: #3949AB;
}

/* BUTTON */
.login-form button {
  width: 100%;
  padding: 14px;
  border: none;
  background: #3949AB;
  color: #fff;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 10px;
  text-decoration: none;
}

.login-form button:hover {
  background: #1A237E;
}

/* LINKS */
.login-links {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.login-links a {
  color: #1A237E;
  font-size: 14px;
  text-decoration: none;
}

.login-links a:hover {
  text-decoration: underline;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .login-box {
    flex-direction: column;
    width: 100%;
  }

  .login-image img {
    width: 100%;
    height: 250px;
  }

  .login-form {
    padding: 30px;
  }
}
